body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #222;
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.title {
    color: #555;
    margin-top: 0;
}

h2 {
    border-bottom: 2px solid #334155;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 5px;
}

section {
    padding: 40px 10%;
}

.card {
    background-color: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: #334155;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background-color: #2563eb;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #1e293b;
}

hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #ddd;
}
