body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

section {
    margin-bottom: 40px;
}

.project {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: blue;
}
